body {
    margin: 0;
}

.container {
    min-height: 100 dvh;
    place-items: center;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    grid-template-rows: .5fr 2fr .5fr;
    grid-template-areas:
    ". . ."
    ". card ."
    ". button .";
}

#card {
    grid-area: card;
    display: grid;
    place-items: center;
    min-width: 65%;
    aspect-ratio: 3/2;
    border: 1px black solid;
    border-radius: .5rem;
}

#card_bin {
    width: 80%;
    height: 10%;
    border: 1px black solid;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
}

#card_bin:hover {
    background-color: antiquewhite;
}

#button_info {
    min-width: 20%;
    grid-area: button;
    display: grid;
    place-items: center;
}

#get_info:hover{
    background-color: antiquewhite;
}

#get_info {
    width: 100%;
    height: 30%;
    aspect-ratio: 3/2;
    border-radius: .5rem;
}

.info_card {
    grid-area: card;
    text-align: center;
}

.info_card, .info_card > thead > tr > th, .info_card > tbody > tr > td {
    padding: .5rem;
    border: 1px black solid;
    border-collapse: collapse;
}